---
layout: main
---

<div class="about-me">
  <div class="left-split">
    <img
      src="/images/about.jpg"
      alt="just me"
      class="avatar">
  </div>
  <div class="right-split">
    <h1>A little bit more about me 🤓️</h1>
    <p>My name is
      <strong>Jose Maria Bonifacio Santiago III</strong>
      (yes, that long) and I am a
      <strong>developer</strong>
      in practice but a
      <strong>writer & designer</strong>
      at heart. I moved to
      <strong>Salzburg, AT</strong>
      in 2022 to pursue a master’s degree in
      <strong>Human-Computer Interaction</strong>
      and to focus on my writing while keeping up with new technologies. I love going to meets, from
      <strong>hackathons & professional conferences</strong>
      to
      <strong>comic cons & medieval festivals.</strong>
      I’m always looking for inspiration in the small things, and I keep a
      <strong>dream journal</strong>
      near my bed!</p>
  </div>
</div>