---
layout: main
---

<div class="repage">
  <img
    src="/images/{{ r.data.imagefull }}"
    alt="{{ r.data.imagealt }}"
    class="reheader">
  <div class="reinfo">
    <h1>{{ r.data.title }}</h1>
    <p>{{ content }}</p>
  </div>
</div>